---
import Layout from '../layouts/BlogPost.astro';

const email = "bWFsbW9yZ2Vuc3Rlcm5Ab3V0bG9vay5jb20=";
---

<Layout
	title="About"
	description="About Mal Morgenstern."
	pubDate={new Date('May 15 2024')}
	heroImage="/Mal_Portrait_2.png"
	heroText="An inked illustration of Mal Morgenstern. They are just a dark silhouette with glasses, a big coat, and a crow on their shoulder. Behind them is an abstract red archway."
	heroPosition="0% 23%"
>
	<p>
		Mal Morgenstern is a writer, musician, and indie comics artist from Durham, UK. Mal makes art that is abrasive, but brimming with a love for pop culture. They enjoy getting into the folds of bad feelings and twisting themselves like a knife. Their master’s dissertation was on masochism in the midcentury suspense novel, and it’s there in the intermingling of sensuality and violence that their work resides.
	</p>

	<p>
		They make harsh, nostalgic electronic music as <a href="https://dantealexander.neocities.org/">DANTE ALEXANDER</a>. You may have seen their comics work as a contributor to the first <a href="https://zinewolfpack.carrd.co/">WOLF PACK</a> zine.
	</p>

	<p>
		They're a member of <a href="https://writingsquad.com">the Writing Squad</a>, and dabble in academic criticism, media journalism, drag, web development, and spoken word.
	</p>
		
	<p>Currently Mal is based in Newcastle upon Tyne but, given the Apocalypse, they're particularly interested in supporting online and remotely accessible projects. <a id="email" href="mailto:malmorgenstern@outlook.com">Contact them by email</a> if you’d like to work with them or see a portfolio of previously published work.</p>
</Layout>

<script is:inline>document.querySelector("#email").setAttribute("href", "mailto:".concat(atob(email)))</script>