---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>mal morgenstern.</h1>
			<p>
				Hello! I'm an independent artist in the North of England. This is a small page to keep you updated on my latest projects.
			</p>
		</main>
		<Footer />
	</body>
</html>
